/*
*Definicion de variables que guardan el coloe
*/

$black: #00010d;
$gray1: #d9d2d3;
$gray2: #162440;
$gray3: #071426;
$cyan: #f15025; //#00C2D1;//30bced;
$white: #ffffff;

/*
* Etiquetas 
*/

html,
body {
  overflow-x: hidden;
}

body {
  background-image: url("../assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

h1 {
  color: $white;
  font-size: 5em;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  padding-top: 0.5em;
}

h2 {
  color: $white;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  padding-bottom: 1em;
  padding-top: 2em;
}

h3 {
  color: $gray3;
  font-family: "Libre Franklin", sans-serif;
}

p {
  color: $gray3;
}

dt,
li {
  color: $gray2;
  text-align: justify;
}

@media screen and(min-width:425px) {
  dl {
    padding-left: 3em;
  }
}

footer {
  /* texto */
  text-align: center;
  color: $white;
  /* Fondo */
  background-color: $gray3;
}

footer p {
  color: $white;
}
/*
* Clases 
*/

.card h2 {
  color: $gray3;
  padding-top: 1em;
}

.card {
  margin-top: 2em;
  text-align: justify;
}

/* Navbar */

.custom-toggler.navbar-toggler {
  border-color: $white;
  color: $white;
}

.navbar {
  background-color: $gray3;
}
.navbar-dark .navbar-nav .nav-link {
  color: $cyan;
}

.bi {
  color: $white;
  vertical-align: middle;
}

.carousel-inner img {
  height: 18em;
  width: 15em;
  margin: auto;
}

.carousel-indicators {
  top: 320px;
}

.card_text {
  color: $gray3;
}

.icon_bar {
  padding-bottom: 2em;
}

.hobbie_conatiner {
  padding-top: 2em;
  padding-bottom: 2em;
}

/*
* Elementos  
*/

#logo-header {
  font-size: 40px;
  vertical-align: middle;
}

#main {
  padding-right: 0px;
}
#content {
  padding-left: 5vw;
  padding-right: 5vw;
}

#Hero {
  padding-top: 16em;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  #Hero {
    padding-top: 10em;
    height: 100vh;
  }
}

#HeroBand {
  padding-left: 3em;
  background-color: rgba(7, 20, 38, 0.6);
}
@media screen and (min-width: 768px) {
  #HeroBand {
    padding-left: 5em;
  }
}

#Hero_Sub {
  color: $cyan;
  padding-top: 0em;
}

#Hobbie {
  height: 100vh;
}

#About_text {
  font-size: 1.5em;
  text-align: justify;
}
#img_profile {
  border-radius: 50%;
  margin: auto;
}

#sidebar {
  color: $cyan;
}

#YTVideo {
  padding-top: 2em;
  width: 270px;
  height: 151px;
}
@media screen and (min-width: 758px) {
  #YTVideo {
    width: 420px;
    height: 236px;
  }
}

@media screen and (min-width: 1440px) {
  #YTVideo {
    width: 560px;
    height: 315px;
  }
}

#SpotifyFrame {
  padding-top: 2em;
  width: 250px;
  height: 380px;
}
@media screen and (min-width: 758px) {
  #SpotifyFrame {
    width: 300px;
    height: 380px;
  }
}

#carouselExampleIndicators {
  padding-top: 2em;
}
