/*
*Definicion de variables que guardan el coloe
*/
$black:#00010d;
$grey1: #636a73;
$grey2:#4d5359;
$grey3:#343a40;
$cyan: #30bced;
$white: #fffaff;

h1 {
    color: $white;
    font-size: 5em;
    font-family: "Libre Franklin", sans-serif;
  }
  
  h2,
  h3 {
    color: $white;
    font-family: "Libre Franklin", sans-serif;
  }
  
  p {
    color: $white;
  }
  
  body {
    margin-right: 0px;
    background-image: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  dt,
  li {
    color: $white;
  }
  
  footer {
    /* texto */
    text-align: center;
    color: $white;
    /* Fondo */
    background-color: #4d5359;
  }
  
  /* Navbar */
  
  .custom-toggler.navbar-toggler {
    border-color: $white;
    color: $white;
  }
  
  .navbar {
    background-color: #4d5359;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #30bced;
  }
  
  .bi {
    color: $white;
    vertical-align: middle;
  }
  
  #logo-header {
    font-size: 40px;
    vertical-align: middle;
  }
  
  #content {
    padding-left: 5vw;
  }
  
  #Hero {
    padding-top: 15em;
    padding-left: 5vw;
    height: 100vh;
  }
  @media screen and (min-width: 768px) {
    #Hero {
      padding-top: 20em;
      padding-left: 5vw;
      height: 100vh;
    }
  }
  
  #img_profile {
    border-radius: 50%;
  }
  #Hero_Sub {
    color: #30bced;
  }
  
  #menu_bar {
    background-color: #343a40;
    opacity: 0.7;
  }
  
  #sidebar {
    color: #30bced;
  }
  