 /*
 @black:#00010d;
 @grey1:#636a73;
 @grey2:#4d5359;
 @grey3:#343a40;
 @cyan: #30bced;
 @white: #fffaff;
*/
h1{
  color: #fffaff;
  font-family: 'Libre Franklin', sans-serif;
}

h2{
  color: #fffaff;
  font-family: 'Libre Franklin', sans-serif;
}

p{
  color: #fffaff;
}
body {

    margin-right: 0px;
    margin-bottom: 60px;
    background-image: url("./assets/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
  }


footer{
  /* texto */
  text-align: center;
  color: #fffaff;

  /* Fondo */
  background-color: #636a73;
}

/* Navbar */

.custom-toggler.navbar-toggler {
  border-color:#fffaff ;
  color:#fffaff;
} 


.navbar-dark .navbar-nav .nav-link {
  color: #30bced;
}


.bi{
  color:#fffaff;
  vertical-align: middle;
}

#logo-header{
  font-size: 40px;
  vertical-align: middle;
}
#content{
  padding-left:5vw;
}

#Hero{
  padding-top: 50vh;
  padding-left:5vw;
  height:100vh;
}

#img_profile{
  border-radius: 50%
}
#Hero_Sub{
  color:#30bced;
}


#menu_bar{
  background-color: #343a40;
  opacity: 0.7;
}

#sidebar{
  color:#30bced;
}


