 /*
 @black:#00010d;
 @grey1:#636a73;
 @grey2:#4d5359;
 @grey3:#343a40;
 @cyan: #30bced;
 @white: #fffaff;
*/

body {
    background-image: url("./assets/wallpaper.jpg");
    background-size: cover;
  }

img{
  max-width:100%;
  max-height:100%;
}

footer{

  /* texto */
  text-align: center;
  color: #fffaff;

  /* Fondo */
  background-color: #636a73;
}